{% extends "base.html" %}
{% load static %}
{%block title%}About Us{% endblock %}


{% block content %}
             <section class="section-padding section-bg" id="section_2">
                <div class="container">
                    <div class="row">

                        <div class="col-lg-6 col-12 mb-5 mb-lg-0">
                            <img src="images/group-people-volunteering-foodbank-poor-people.jpg" class="custom-text-box-image img-fluid" alt="">
                        </div>

                        <div class="col-lg-6 col-12">
                            <div class="custom-text-box">
                                <h2 class="mb-2">Our Story</h2>

                                <h5 class="mb-3">Monolith Investments</h5>

                                <p class="mb-0">Monolith Investments was registered in the Republic of Kenya on the 13th October 2015.
We are a duly registered business under the Partnership Act and by YAGPO under the Youth category.
Our reputation is founded on the ability to deliver quality products and efficient services to our customers.
</p>
                                We specialize but not limited in the supply of the following:
                                <ol>
                                    <li>Office Equipment</li>
                                    <li>Office Furniture and Tools</li>
                                    <li>Cleaning Materials</li>
                                    <li>Dry Foodstuff</li>
                                    <li>Kitchen,Cutlery and Staff Uniforms</li>
                                    <li>Hardware,plumbing,Electrical Materials and related products</li>
                                    <li>Tubes,Tyres and Spare Parts</li>
                                    <li>Stationery</li>
                                    <li>General Supplies</li>
                                </ol>
                            </div>

                            <div class="row">
                              <div class="col-lg-7 col-md-6 col-12">
                                    <div class="custom-text-box mb-lg-0">
                                        <h5 class="mb-3">Our Mission</h5>

                                        <p>To provide innovative solutions backed by technology and dedicated personnel to our clients hence eliminating avoidable inefficiencies in the supply chain. We shall offer the shortest lead times as a result.



</p>
                                    </div>
                              </div>
                                 <div class="col-lg-5 col-md-6 col-12">
                                    <div class="custom-text-box mb-lg-0">
                                        <h5 class="mb-3">Our Vision</h5>

                                        <p>To be the most efficient and preferred corporate partner in its supply needs

</p>
                                    </div>
                              </div>

                    </div>
                </div>
                </div>
                 </div>
            </section>

                 <div class="row">
                     <div class="col-lg-6 col-md-5 col-12">
                          <section class="about-section section-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-12">
                            <img src="images/portrait-volunteer-who-organized-donations-charity.jpg" class="about-image ms-lg-auto bg-light shadow-lg img-fluid" alt="">
                        </div>

                        <div class="col-lg-7 col-md-7 col-12">
                            <div class="custom-text-block">
                                <h4 class="mb-0">Charles Michuki Muraya</h4>

                                <p class="text-muted mb-lg-4 mb-md-4">Co-Founding Partner</p>

                                <p>As a co-founder, Charles was inspired to create the company to solve various inefficiencies within the entire supply chain. He has a wealth of experience having previously worked in various multinational organizations in Kenya and beyond.

</p>

                                <ul class="social-icon mt-4">
                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-twitter"></a>
                                    </li>

                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-facebook"></a>
                                    </li>

                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-instagram"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>

                </div>
            </section>
                     </div>
                     <div class="col-lg-6 col-md-5 col-12">
                          <section class="about-section section-padding">
                <div class="container">
                    <div class="row">
                        <div class="col-lg-5 col-md-5 col-12">
                            <img src="images/portrait-volunteer-who-organized-donations-charity.jpg" class="about-image ms-lg-auto bg-light shadow-lg img-fluid" alt="">
                        </div>

                        <div class="col-lg-7 col-md-7 col-12">
                            <div class="custom-text-block">
                                <h4 class="mb-0">John Muchunu Nyagah</h4>

                                <p class="text-muted mb-lg-4 mb-md-4">Co-Founding Partner</p>

                                <p>John is the ideal entrepreneur who stops at nothing until goals are realized. His go-getter attitude and approach to business inspired his partnership with Charles who together have created the massive business Monolith is today.</p>

                                <ul class="social-icon mt-4">
                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-twitter"></a>
                                    </li>

                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-facebook"></a>
                                    </li>

                                    <li class="social-icon-item">
                                        <a href="#" class="social-icon-link bi-instagram"></a>
                                    </li>
                                </ul>
                            </div>
                        </div>

                    </div>
                </div>
            </section>
                     </div>
                 </div>



            <section>
                <div class="row">
                    <div class="col-lg-3 col-md-4 col-12">
                        <h6>Managing Partner</h6>
                        Charles Michuki Muraya
                        <br>
                      B. Economics & Finance
                        <br>
                      Kenyatta University, 2013

                    </div>
                    <div class="col-lg-3 col-md-4 col-12">
                        <h6>Finance and Administration</h6>
                        Benjamin Ndei Mugoya
                        <br>
                        CPA(K) 2017

                    </div>
                    <div class="col-lg-3 col-md-4 col-12">
                        <h6>Distribution and Logistics</h6>
                        David Gathuka Njuguna
                        <br>
                        B. Commerce
                        <br>
                      The University of Nairobi, 2016
                    </div>
                    <div class="col-lg-3 col-md-4 col-12">
                        <h6>Sales and Marketing</h6>
                        Beth M. Wanjiru
                        <br>
                      Masters in Finance
                        <br>
                      The University of Nairobi, 2019


                    </div>
                </div>
            </section>
{% endblock %}


