{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <meta name="description" content="">
    <meta name="author" content="">

    <title>{% block title %}Monolith Investments{% endblock %}</title>


    <link href="{% static 'styles/css/bootstrap.min.css' %}" rel="stylesheet">
    <link href="{% static 'styles/css/bootstrap-icons.css' %}" rel="stylesheet">
    <link href="{% static 'styles/css/templatemo-kind-heart-charity.css' %}" rel="stylesheet">
</head>

<body id="section_1">
    {% block navbar %}
    <header class="site-header">
        <div class="container">
            <div class="row">

                <div class="col-lg-8 col-12 d-flex flex-wrap">
                    <p class="d-flex me-4 mb-0">
                        <i class="bi-geo-alt me-2"></i>
                        Donholm, Super House, First Flr., P.O Box 152-00300, Nairobi – Kenya
                    </p>

                    <p class="d-flex mb-0">
                        <i class="bi-envelope me-2"></i>
                        <a href="mailto:monolithsinvestments@gmail.com">
                            monolithsinvestments@gmail.com
                        </a>
                    </p>
                </div>

                <div class="col-lg-3 col-12 ms-auto d-lg-block d-none">
                    <ul class="social-icon">
                        <li class="social-icon-item"><a href="#" class="social-icon-link bi-twitter"></a></li>
                        <li class="social-icon-item"><a href="#" class="social-icon-link bi-facebook"></a></li>
                        <li class="social-icon-item"><a href="#" class="social-icon-link bi-instagram"></a></li>
                        <li class="social-icon-item"><a href="#" class="social-icon-link bi-youtube"></a></li>
                        <li class="social-icon-item"><a href="#" class="social-icon-link bi-whatsapp"></a></li>
                    </ul>
                </div>

            </div>
        </div>
    </header>

    <nav class="navbar navbar-expand-lg bg-light shadow-lg">
        <div class="container">
            <a class="navbar-brand" href="">
                <img src="{% static 'images/label/img.png' %}" class="logo img-fluid" alt="Monolith Company">
                <span>MONOLITH INVESTMENTS</span>
            </a>

            <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
                aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div class="collapse navbar-collapse" id="navbarNav">
                <ul class="navbar-nav ms-auto">
                    <li class="nav-item"><a class="nav-link click-scroll" href="{% url 'index' %}">Home</a></li>
                    <li class="nav-item"><a class="nav-link click-scroll" href="{% url 'about' %}">About</a></li>
                    <li class="nav-item"><a class="nav-link click-scroll" href="{% url 'contact' %}">Contact</a></li>
                    <li class="nav-item"><a class="nav-link click-scroll" href="{% url 'shop' %}">Shop</a></li>
                </ul>
            </div>
        </div>
    </nav>
    {% endblock %}

    {% block content %}
    {% endblock %}

    {% block footer %}
    <footer class="site-footer">
        <div class="container">
            <div class="row">

                <div class="col-lg-3 col-12 mb-4">
                    <img src="{% static 'images/logo.png' %}" class="logo img-fluid" alt="">
                </div>

                <div class="col-lg-4 col-md-6 col-12 mb-4">
                    <h5 class="site-footer-title mb-3">Quick Links</h5>
                    <ul class="footer-menu">
                        <li class="footer-menu-item"><a href="#" class="footer-menu-link">Our Story</a></li>
                        <li class="footer-menu-item"><a href="#" class="footer-menu-link">Newsroom</a></li>
                        <li class="footer-menu-item"><a href="#" class="footer-menu-link">Causes</a></li>
                        <li class="footer-menu-item"><a href="#" class="footer-menu-link">Become a volunteer</a></li>
                        <li class="footer-menu-item"><a href="#" class="footer-menu-link">Partner with us</a></li>
                    </ul>
                </div>

                <div class="col-lg-4 col-md-6 col-12 mx-auto">
                    <h5 class="site-footer-title mb-3">Contact Information</h5>

                    <p class="text-white d-flex mb-2">
                        <i class="bi-telephone me-2"></i>
                        <a href="tel:1202409600" class="site-footer-link">120-240-9600</a>
                    </p>

                    <p class="text-white d-flex">
                        <i class="bi-envelope me-2"></i>
                        <a href="mailto:donate@charity.org" class="site-footer-link">donate@charity.org</a>
                    </p>

                    <p class="text-white d-flex mt-3">
                        <i class="bi-geo-alt me-2"></i>
                        Akershusstranda 20, 0150 Oslo, Norway
                    </p>

                    <a href="#" class="custom-btn btn mt-3">Get Direction</a>
                </div>
            </div>
        </div>

        <div class="site-footer-bottom">
            <div class="container">
                <div class="row">

                    <div class="col-lg-6 col-md-7 col-12">
                        <p class="copyright-text mb-0">
                            Copyright © 2036 <a href="#">Kind Heart</a>
                            Charity Org. Design:
                            <a href="https://templatemo.com" target="_blank">TemplateMo</a>
                        </p>
                    </div>

                    <div class="col-lg-6 col-md-5 col-12 d-flex justify-content-center align-items-center mx-auto">
                        <ul class="social-icon">
                            <li class="social-icon-item"><a href="#" class="social-icon-link bi-twitter"></a></li>
                            <li class="social-icon-item"><a href="#" class="social-icon-link bi-facebook"></a></li>
                            <li class="social-icon-item"><a href="#" class="social-icon-link bi-instagram"></a></li>
                            <li class="social-icon-item"><a href="#" class="social-icon-link bi-linkedin"></a></li>
                            <li class="social-icon-item"><a href="#" class="social-icon-link bi-youtube"></a></li>
                        </ul>
                    </div>

                </div>
            </div>
        </div>
    </footer>
    {% endblock %}

    {% block scripts %}
    <script src="{% static 'styles/js/jquery.min.js' %}"></script>
    <script src="{% static 'styles/js/bootstrap.min.js' %}"></script>
    <script src="{% static 'styles/js/jquery.sticky.js' %}"></script>
    <script src="{% static 'styles/js/click-scroll.js' %}"></script>
    <script src="{% static 'styles/js/counter.js' %}"></script>
    <script src="{% static 'styles/js/custom.js' %}"></script>
    {% endblock %}
</body>
</html>
